.menu {
  display: grid;
  grid-template-columns: 200px 350px 200px;
  margin-bottom: 30px;
}

.sizeSelect {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sizeSelect label {
  font-size: 1.2rem;
}

.menu button {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #674a67;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #412e41;
  }
}

.menu .info {
  text-align: center;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .menu {
    grid-template-columns: auto;
    justify-items: center;
    gap: 1rem;
  }

  .menu .info {
    font-size: 1.4rem;
  }
}
