*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --container-width: 1100px;
  --container-sm-width: 800px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.container_sm {
  max-width: var(--container-sm-width);
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
